.Chip {
  display: flex;
  width: max-content;
  gap: 0.5rem;
  padding: 0.5rem;
  align-items: center;

  background: rgba(0, 0, 0, 0.5);
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
  border-radius: 2rem;

  white-space: nowrap;
  text-overflow: ellipsis;
}
