.Card {
  grid-row: auto;
  height: fit-content;
  position: relative;
  border-radius: var(--border-radius, 2rem);
  color: var(--second-white);
  box-shadow: var(--box-shadow-light);
  margin-bottom: 1rem;
}

.CardImage {
  border-radius: var(--border-radius, 2rem);
}

.OwnerDetails,
.CardDetails {
  position: absolute;
  z-index: 1;
}

.BlurChip {
  background: rgba(0, 0, 0, 0.3);
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
  border-radius: var(--border-radius, 2rem);
}

.OwnerDetails {
  position: absolute;
  z-index: 1;
  top: 0.5rem;
  left: 0.5rem;

  color: var(--primary-white, #fff);

  cursor: pointer;
  transition: all 0.3s;
  user-select: none;
}

.CardDetails,
.CardTags {
  display: flex;
  width: 100%;
  padding-inline: 0.5rem;
  gap: 0.25rem;
  align-items: center;
  border-radius: var(--border-radius, 2rem);
  overflow: hidden;
}

.CardDetails {
  bottom: 0.5rem;
}

.OwnerDetails:hover {
  background-color: var(--second-white);
  color: var(--text-dark, #0b0b0b);
}
